.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked + .item-description {
    background: lightseagreen;
    text-decoration: line-through;
    border: 10px solid;
}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: black;
    background: purple;
    cursor: pointer;
}